.premium-subscription {
    background: linear-gradient(249.78deg, #FFE145 26.94%, #C86C00 74.07%);
    background-image: url("../../../public/images/shapes/premium_subscription_vector.svg"); /* fallback */
    background-image: url("../../../public/images/shapes/premium_subscription_vector.svg"), linear-gradient(249.78deg, #FFE145 26.94%, #C86C00 74.07%); /* W3C */
}