@media (max-width: 600px) {
  .username {
    display: none;
  }

  .image {
    display: block;
  }

  .search-bar {
    margin: 0;
  }

  .user {
    margin: 0;
  }

}

@media (max-width: 400px) {
  .search-bar input {
    width: 12rem;
  }
}
